

main, header {
  display: flex
}

main {
  flex-direction: column;
  align-items: center;
}

header {
  justify-content: center;
  align-items: center;
  width: 100%;
}

nav {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

input {
  width: 100%;
  max-width: 500px;

}

section {
  border: 0.1em solid black;
  width: 90%;
  max-width: 1020px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#search-results {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

#search-results article {
  display: flex;
  width: 160px;
  flex-direction: column;
  margin: 5px;
  background-color: #eee;
}

#search-results img {
  width: 100%;
  aspect-ratio: 1;
}

#search-results p, #search-results h3 {
  margin: 0;
  word-wrap: break-word;
}

#track-container {
  padding: 10px;
  width: 90%;
  border: 1px solid red;
}

#track-container button {
  margin-left: 10px;
}

#track-container article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0.1em solid brown;
  height: 50px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

#play-view > button {
  margin: 10px;
}