
:root {
  --background-color: #231c35;
  --foreground-color: #484564;
  --action-color: #E2DADA;
}

main, header {
  display: flex
}

body {
  font-family: 'Cabin', sans-serif;
}

h1, h2, #results-view p, button {
  font-family: 'Koulen', cursive;
}

body {
  background-color: var(--background-color);
  color: var(--foreground-color);
}

section {
  background-color: var(--foreground-color);
}

h1, h2, #results-view p  {
  margin: 0;
  color: var(--action-color);
}

#results-view p  {
  font-size: 20pt;
}


main {
  flex-direction: column;
  align-items: center;
  border: none;
}

header {
  justify-content: center;
  align-items: center;
  width: 100%;
}

nav {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

input {
  width: 100%;
  max-width: 500px;
  padding: 10px;
  border-radius: 10px;
  border-width: 0;
  margin-bottom: 10px;
}

section {
  width: 90%;
  max-width: 1020px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 0.5em var(--foreground-color);
  border-radius: 10px;
  padding-bottom: 10px;
  padding: 10px;
}

#search-results {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

#search-results article {
  display: flex;
  width: 120px;
  flex-direction: column;
  margin: 5px;
  padding: 10px;
}

article {
  border-radius: 10px;
  box-shadow: 0 0 0.3em var(--action-color);
  background-color: var(--background-color);
  color: var(--action-color);
  display: flex;
  font-size: 10pt;
}


#results-view div  {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

#results-view article {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 10px;
  text-align: center;
  list-style-position: inside;
}


#search-results article {
  background-color: var(--action-color);
  color: var(--background-color);
}

#search-results article:hover {
  transform: scale(1.1);
  transition: 0.1s ease;
}

#search-results article:active {
  background-color: white;
}

#search-results img {
  margin-bottom: 5px;
  border-radius: 5px;
}

#search-results p, #search-results h3 {
  margin: 0;
  word-wrap: break-word;
}

#track-container {
  padding: 10px;
  width: 90%;
}

#track-container button {
  margin-left: 10px;
}

#track-container article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

#play-view > button {
  margin: 10px;
}

#results-view article {
  margin: 10px;
  
}

button {
  height: 10px;
  width: 30px;
}

.hidden {
  display: none;
}

button {
  min-height: 30px;
  height: auto;
  width: auto;
  font-size: 12pt;
  border: 0.2em solid var(--action-color);
  background-color: var(--action-color);
  color: var(--background-color);
  border-radius: 10px;
  transition: all 0.2s;
}

button:hover {
  background-color:var(--background-color);
  color:var(--action-color);
  box-shadow: inset var(--action-color) 0 0 0.06em 0;
}

ol {
  padding-left: 0;
}